[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = http://github.com/vim-scripts/slimv.vim.git
