[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = http://github.com/vim-scripts/slimv.vim.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = http://github.com/vim-scripts/genutils.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "colors-solarised"]
	path = bundle/colors-solarised
	url = https://github.com/altercation/vim-colors-solarized.git
